body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.login-box input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

header {
    background: #ff385c;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.map-btn {
    color: rgb(19, 17, 17);
    text-decoration: none;
}

.container {
    display: flex;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

button {
    background: #ff385c;
    color: white;
    border: none;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
